.map-container {
  position: sticky;
  bottom: 0;

  .leaflet-container {
    height: 100vh;
  }

  .marker-cluster-custom {
    background: #9370db;
    border: 3px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px;
  }

  .cluster-icon {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    transform: translate(-25%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1rem;
    color: #fff;
  }

  .popup-para {
    font-weight: 900;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* … */
  .popup-para {
    margin: 1em 0 !important;
  }

  .leaflet-popup-content {
    margin: 0 10px;
  }

  p {
    margin: 5px 0 !important;
    font-size: 12px !important;
  }
}

@media (min-width: 0) and (max-width: 768px) {
  /* … */
  .popup-para {
    font-size: 11px;
    margin: 0.7em 0 !important;
  }

  .leaflet-popup-content {
    margin: 0 10px;
  }

  p {
    margin: 5px 0 !important;
    font-size: 11px !important;
  }
}
