.download-container {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  align-items: start;
  gap: 10px;

  .dropdown-container {
    display: none;
    align-items: start;

    .wrapper {
      background-color: #fff;
      border: 1px solid lightgray;

      div {
        color: #000;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: #636363;
          color: #fff;
          cursor: pointer;
        }
      }
    }

    .wrapper div:not(:last-child) {
      border-bottom: 1px solid lightgray;
    }

    .download {
      background-color: #fff;
      border: 1px solid lightgray;
      padding: 10px;
      border-left: none;
      transition: background-color 0.3s ease;
      cursor: pointer;

      h1 {
        font-size: 13px;
        color: #000;
        transition: color 0.3s ease;
      }

      &:hover {
        background-color: #636363;

        h1 {
          color: #fff;
        }
      }
    }
  }

  .svg-container {
    padding: 10px 10px 7px 13px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    svg {
      path,
      rect {
        transition: fill 0.3s ease;
      }
    }

    &:hover {
      background-color: #636363;

      svg {
        path {
          fill: #fff;
        }

        rect {
          fill: #fff;
        }
      }
    }
  }

  &:hover {
    .dropdown-container {
      display: flex;
    }
  }
}

.hist-download-container {
  z-index: 1;
  top: 150px;
  right: 20px;

  @media (min-width: 0) and (max-width: 1200px) {
    top: 200px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .download-container {
    .dropdown-container {
      .wrapper {
        div {
          padding: 7px;
          p {
            font-size: 11px !important;
          }
        }
      }

      .download {
        padding: 8px;

        h1 {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 768px) {
  .download-container {
    gap: 5px;

    .dropdown-container {
      .wrapper {
        div {
          padding: 5px;
          p {
            font-size: 9px !important;
          }
        }
      }

      .download {
        padding: 8px;

        h1 {
          font-size: 10px;
        }
      }
    }
  }
}
